<div class="row">
  <div class="medium-8 medium-centered large-6 large-centered columns">

    <form method="POST" action="/register" enctype="multipart/form-data">

      <div class="row column log-in-form">
        <h4>Registration Form</h4><br>

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" required>
      <%# </div>%>

      <%# <div>%>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
      <%# </div>%>

      <%# <div>%>
        <label for="image">Profile Image</label>
        <input type="file" name="image" id="image" required>
      <%# </div>%>

      <%# <div>%>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required>
      <%# </div>%>

      <%# <div>%>
        <label for="passwordConfirmation">Password Confirmation</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirm Password" required>

      </div>
        <button class="button">Register</button>

    </form>
    </div>
  </div>
