<h1><img src="../assets/images/marker.png">Sip<span>Advisor</span></h1>
<div class="row">
  <div class="medium-8 medium-centered large-6 large-centered columns">
    <form method="POST" action="/register" enctype="multipart/form-data" novalidate>
      <div class="row column log-in-form">
        <h4>Registration Form</h4><br>

        <label for="username">Username</label>
        <input type="text" name="username" id="username" placeholder="Username" required>

        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required>

        <label for="image">Profile Image</label>
        <input type="file" name="image" id="image" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" placeholder="Password" required>

        <label for="passwordConfirmation">Password Confirmation</label>
        <input type="password" name="passwordConfirmation" id="passwordConfirmation" placeholder="Confirm Password" required>

        <button class="button">Register</button>
      </div>
    </form>
  </div>
</div>
