<h1><img src="../assets/images/marker.png">Sip<span>Advisor</span></h1>
<h4>My Profile</h4>
<div>
  <h3><%= user.username %></h3>
  <img src="<%= user.imageSRC %>" alt="<%= user.username %>">

  <form method="POST" action="/profile">
    <input type="hidden" name="_method" value="DELETE">
    <button class="button delete">Delete Account</button>
  </form>
</div>
