<h1>My Profile</h1>
<div>
  <h3><%= user.username %></h3>
  <img src="<%= user.ProfileImageSRC %>" alt="<%= user.username %>">

  <form method="POST" action="/profile">
    <input type="hidden" name="_method" value="DELETE">
    <button class="button">Delete Account</button>
  </form>
</div>
