<nav>
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li><a href="/">Home</a></li>
        <% if(locals.isAuthenticated) { %>
          <li><a href="/users/<%= user.id %>">My Profile</a></li>
        <li><a href="/drinks/new">Add Drink</a></li>
        <li><a href="/drinks">Drip-feed</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Log In</a></li>
          <li><a href="/register">Register</a></li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
