<h1><img src="../assets/images/marker.png">Sip<span>Advisor</span></h1>
<h4>Add New Drink</h4>
<br>
  <div class="row">
    <div class="medium-8 medium-centered large-6 large-centered columns">
      <form method="POST" action="/drinks" enctype="multipart/form-data">

        <div>
          <label for="image">Upload Image</label>
          <input type="file" name="image" id="image" required novalidate>

          <label for="name">Drink Name</label>
          <textarea name="name" id="name" placeholder="e.g. Sangria" required novalidate></textarea>

          <label for="description">Description</label>
          <textarea name="description" id="description" placeholder="What is it?" required novalidate></textarea>

          <label for="location">Location</label>
          <input class="controls" id="location" name="location" placeholder="Where can I buy one?" required novalidate>
          <%# Hidden inputs to grab long/lat of location field %>
          <input type="hidden" name="latitude">
          <input type="hidden" name="longitude">

          <label for="otherInfo">Any other information...</label>
          <textarea name="otherInfo" id="otherInfo" placeholder="Further info..."></textarea>
        </div>

        <button class="button">Create Post</button>
      </form>
    </div>
</div>
