<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SipAdvisor</title>
    <% include ./partials/stylesheets %>
  </head>
  <body>
    <% include ./partials/navbar %>
    <% for(const type in messages) { %>
      <div class="<%= type %>">
        <h5><%= messages[type] %></h5>
      </div>
    <% } %>
    <main>
      <h1><img src="../assets/images/marker.png">Sip<span>Advisor</span></h1>
      <%- body %>
    </main>
    <% include ./partials/scripts %>
  </body>
</html>
