<h1><img src="../assets/images/marker.png">Sip<span>Advisor</span></h1>

<% if (locals.isAuthenticated) { %>
  <div id="map" data-drinks="<%= JSON.stringify(drinks) %>"></div>
<% } else { %>
  <div class="home">
    <h5>Log in <a href="/login">here</a> to use this site.</h5>
  </div>
<% } %>
