<% if (locals.isAuthenticated) { %>
  <div id="map" data-drinks="<%= JSON.stringify(drinks) %>"></div>
<% } else { %>
  <div class="home">
    <h5><a href="/login">Log in</a> to use this site.</h5>
    <img class="thumbnail" src="../../assets/images/homepage.png">
  </div>
<% } %>
