<h1>SipAdvisor Homepage</h1>



<p><b>Use Hotel-app (w05d01) to get user/id working. edit pages, etc.</p>

<p>Coffeeshop or cheeky beers homeworks for edit and delete buttons</p>

<p>Read lesson notes from week and look at integrating Facebook login</p>

<p>Monday: Google Places and google maps integration</b></p>

<img src="http://www.bigskywords.com/uploads/1/2/8/0/12804055/1539892_orig.png" alt="Map">
