body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  h1 {
  }
}

span {
  color: green;
}

.top-bar {
  background-color: white;
  ul {
    background-color: #b7d187;
    border-radius: 5px;
    a {
      border-radius: 5px;
      color: black;
    }
    a:hover {
      background-color: #037a25;
      color: white;
    }
  }
}

// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;

.log-in-form {
  padding: $form-padding;
  border-radius: $form-radius;
}

textarea {
  border-radius: 5px;
}

.loginBtn {
    width: 50%;
    display: block;
    margin-left: 25%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.row input {
  border-radius: 5px;
  &.controls {
    height: 2.5em;
    box-shadow: 0;
    width: 100%;
    margin-bottom: 10px;
  }
}

label {
  font-size: 18px;
  text-align: left;
  &.error {
    color: red;
  }
}

#map {
  height: 85vh;
  background-color: grey;
}

.infowindow {
  h1 {
    font-size: 20px;
  }
  img {
    height: 150px;
    width: 150px;
  }
}

img.thumbnail {
  box-shadow: none;
}

.profileImage {
  height: 300px;
  width: 300px;
}

.button {
  border-radius: 5px;
  width: 50%;
  font-size: 16px;
  background-color: #0e7817;
  &:hover {
    font-weight: bold;
    background-color: #02601d;
  }
  &.delete {
    background-color: #DC143C;
    &:hover {
      background-color: #D00000;
    }
  }
}

.drinkImage {
  height: 50vh;
}
