h1 {
  font-family: 'Montserrat', sans-serif;
}

span {
  color: green;
}

#map {
  height: 85vh;
  background-color: grey;
}

.infowindow {
  h1 {
    font-size: 20px;
  }
  img {
    height: 100px;
    width: 100px;
  }
}
