body {
  text-align: center;
  h1 {
    font-family: 'Montserrat', sans-serif;
  }
}

span {
  color: green;
}

#map {
  height: 85vh;
  background-color: grey;
}

.infowindow {
  h1 {
    font-size: 20px;
  }
  img {
    height: 100px;
    width: 100px;
  }
}
.home {
  .thumbnail {
    box-shadow: none;
  }
}
.profileImage {
  height: 150px;
  width: 150px;
}

.button {
  border-radius: 5px;
}

.loginBtn {
    width: 250px;
}

label.error {
  color: red;
}
